@* @{
  Layout = "_Layout";
}

@model Library.Models.Book;

<h4>Add Book to Library</h4>
@using (Html.BeginForm())
{
<h5>Book title:</h5>
  @Html.TextBoxFor(model => model.Title)
  <input id="btn" type="submit" value="Add Book" required/>
}
<p>@Html.ActionLink("Book List", "Index")</p> *@