@{
  Layout = "_Layout";
}

<h1>Library Login</h1>
<p>@Html.ActionLink("Login to your account", "Login", "Account")</p>
<p>@Html.ActionLink("Create an account", "Register", "Account")</p>
<p>@Html.ActionLink("Book List", "Index", "Book")</p> 
<p>@Html.ActionLink("Patron List", "Index", "Patron")</p>