@{
  Layout = "_Layout";
}

@model Library.Models.Patron;


@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatronId)

  @Html.Label("Select Book")
  @Html.DropDownList("BookId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Patrons List", "Index")</p>