@{
  Layout = "_Layout";
}

@model Library.Models.Patron;

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatronId)
  {
  @Html.DropDownList("BookId", "Not Now")
}}


<p>@Html.ActionLink("Patron List", "Index")</p>