@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h2>Are you sure you want to delete this Patron?</h2>

<h3>Patron:</h3>
@Html.DisplayFor(model => model.FirstName)
@Html.DisplayFor(model=> model.LastName)
@using (Html.BeginForm())
{
  <input id="btn" type="submit" value="Delete" />
}
@Html.ActionLink("Back to Patron List", "Index")