@{
  Layout = "_Layout";
}

@using Library.Models;

<h1> Library Patrons</h1>

@if (@Model.Count == 0)
{
  <h3> No library Patrons!</h3>
} 

<ul>
  @foreach(Patron patron in Model)
  {
    <li>@Html.ActionLink($"{patron.LastName}, {patron.FirstName}", "Details", new { id = patron.PatronId })</li>
  }
</ul>

<p>@Html.ActionLink("New Patron","Create","Patron")</p>
